.board {
  &-info-form {
    &--open {
      display: block;
    }
    &--close {
      display: none;
    }
  }
  &-news {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin: 15px;

    & img {
      padding-right: 10px;
    }

    &__content {
      & span {
        position: absolute;
        right: 0;
      }
    }
  }
}
